.body {
  min-height: 2000px;
  background-color: #ffffff;
}
.jumbotron {
  padding-top: 10rem;
  background-color: #a2d9ff;
}
section {
  padding-top: 5rem;
}

/* Desktop */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 10px;
  }

  .nav-link:hover {
    border-bottom: 2px solid #ffffff;
    width: 10%;
  }
}
